# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pym
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# =========================
# Виртуалдык чөйрөлөр
# =========================
venv/
env/
ENV/
.env/
.venv/

# =========================
# IDE жана редакторлор
# =========================
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# =========================
# Операциондук системалар
# =========================
.DS_Store
Thumbs.db
*.swp

# =========================
# Файлдар, сактоо үчүн эмес
# =========================
*.sqlite3
*.db